<div class="flex flex-col m-4 shadow-md">

    @foreach (var noble in NobilityBox.NobleList)
    {
        <NobleTile Noble="noble" />
    }
</div>

@code {
    [Parameter]
    public NobilityBox NobilityBox { get; set; }
}