
<div class="flex flex-col lg:justify-center m-4 shadow-md">
    <div class="flex justify-center">
        <BackCard Level="@Level.Level1" />
        @foreach (var development in Deck.VisibleDevelopments(Level.Level3))
        {
            <Card development="development" />
        }
    </div>

    <div class="flex justify-center">
        <BackCard Level="@Level.Level2" />
        @foreach (var development in Deck.VisibleDevelopments(Level.Level2))
        {
            <Card development="development" />
        }
    </div>

    <div class="flex justify-center">
        <BackCard Level="@Level.Level3" />
        @foreach (var development in Deck.VisibleDevelopments(Level.Level1))
        {
            <Card development="development" />
        }
    </div>
</div>


@code {
    [Parameter]
    public Deck Deck { get; set; }
}