<button class="flex justify-center items-center mx-1 text-center w-6 h-8 bg-gray-400 rounded-sm border font-mono text-sm text-black bg-gray border-black"
      style="color:@FontColor().ToHex(); border-color:black; background-color:@BackColor().ToHex()"
      title="@Developments.JoinList()">
    @Developments.Count()
</button>

@code
{ 
    [Parameter]
    public IEnumerable<Development> Developments { get; set; }

    private System.Drawing.Color BackColor() => Developments.BackColor();

    private System.Drawing.Color FontColor() => BackColor() == System.Drawing.Color.White ? 
        System.Drawing.Color.Black : 
        System.Drawing.Color.White;

}
