
@if (Total > 0)
{
    <span class="font-bold">
        <span class="flex justify-center items-center mx-1 text-center w-6 h-8 bg-gray-400 rounded-sm border font-mono text-sm text-black bg-gray border-black"
              title="Reserved developments">
            @Total
        </span>
    </span>
}

@code {
    [Parameter]
    public int Total { get; set; }
}
